* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

$orange: rgb(227, 136, 38);
$dark-cyan: rgb(0, 105, 112);
$very-dark-cyan: rgb(0, 66, 65);
$text-color: rgba(255, 255, 255, 0.75);
$main-color: hsl(0, 0%, 95%);

body {
  min-height: 100vh;
  background-color: $main-color;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
  color: $text-color;
  font-family: "Big Shoulders Display", cursive;
}

button {
  font-family: "Lexend Deca", sans-serif;
}

p {
  color: $text-color;
  font-family: "Lexend Deca", sans-serif;
}

/*=========

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;

PAGE STYLES

===========*/

.container {
  max-width: 100%;
  width: 83.5rem;
  height: 50rem;
  display: flex;

  .container1 {
    background-color: $orange;
    border-radius: 1.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    button {
      color: $orange;

      &:hover {
        background-color: $orange;
        color: white;
        border: 1px solid white;
      }
    }
  }
  .container2 {
    background-color: $dark-cyan;

    button {
      color: $dark-cyan;

      &:hover {
        background-color: $dark-cyan;
        color: white;
        border: 1px solid white;
      }
    }
  }
  .container3 {
    background-color: $very-dark-cyan;
    border-radius: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    button {
      color: $very-dark-cyan;

      &:hover {
        background-color: $very-dark-cyan;
        color: white;
        border: 1px solid white;
      }
    }
  }

  ul {
    height: 100%;
    margin: 4rem 4rem;

    li {
      h1 {
        padding: 3rem 0rem 0.5rem 0rem;
        letter-spacing: 0.3rem;
      }
      p {
        padding: 2.3rem 2rem 7rem 0rem;
        line-height: 2.75rem;
      }

      button {
        margin-bottom: 1rem;
        border: none;
        background-color: white;
        padding: 1.5rem 3.75rem;
        border-radius: 50rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1144px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 990px) {
  .container {
    margin-top: 10vh;
    width: 50rem;
    height: 100%;
    flex-wrap: wrap;
    .container1 {
      border-radius: 1.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .container3 {
      border-radius: 1.5rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    ul {
      width: 100%;
      margin-left: 10%;
      margin-right: 5%;

      img {
        margin-top: 2rem;
      }
      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 2rem;
        margin-right: 7rem;
      }
    }
  }
}
